<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Certificate Verification{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="d-flex justify-content-center mt-2">
        <div class="card text-white bg-{{bg}}" style="width: 80vw; max-width:300px">
            <img class="card-img-top" src="https://yt3.googleusercontent.com/ytc/AL5GRJWxot1_yOWqKvinjI8vuI14aN8mg4W_xH8B7QwM=s900-c-k-c0x00ffffff-no-rj" alt="EES IMAGE">
            <div class="card-body">
              <h5 class="card-title">Certificate Verification</h5>
              <p class="card-text">{{content}}</p>
            </div>
            <div class="card-body">
                Report us as at
              <a style="color:cyan;" href="mailto:udyam.ece@itbhu.ac.in" class="card-link">udyam.ece@itbhu.ac.in</a>
            </div>
          </div>
    </div>  

</body>
</html>
